tp1/Client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.example.org/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.example.org/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"/>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="getComptesList">
<part name="parameters" element="tns:getComptesList"/>
</message>
<message name="getComptesListResponse">
<part name="parameters" element="tns:getComptesListResponse"/>
</message>
<message name="ConversionEuroToDh">
<part name="parameters" element="tns:ConversionEuroToDh"/>
</message>
<message name="ConversionEuroToDhResponse">
<part name="parameters" element="tns:ConversionEuroToDhResponse"/>
</message>
<message name="ConversionDhToEuro">
<part name="parameters" element="tns:ConversionDhToEuro"/>
</message>
<message name="ConversionDhToEuroResponse">
<part name="parameters" element="tns:ConversionDhToEuroResponse"/>
</message>
<portType name="BanqueService">
<operation name="Convert">
<input wsam:Action="http://webservice.example.org/BanqueService/ConvertRequest" message="tns:Convert"/>
<output wsam:Action="http://webservice.example.org/BanqueService/ConvertResponse" message="tns:ConvertResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://webservice.example.org/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://webservice.example.org/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="getComptesList">
<input wsam:Action="http://webservice.example.org/BanqueService/getComptesListRequest" message="tns:getComptesList"/>
<output wsam:Action="http://webservice.example.org/BanqueService/getComptesListResponse" message="tns:getComptesListResponse"/>
</operation>
<operation name="ConversionEuroToDh">
<input wsam:Action="http://webservice.example.org/BanqueService/ConversionEuroToDhRequest" message="tns:ConversionEuroToDh"/>
<output wsam:Action="http://webservice.example.org/BanqueService/ConversionEuroToDhResponse" message="tns:ConversionEuroToDhResponse"/>
</operation>
<operation name="ConversionDhToEuro">
<input wsam:Action="http://webservice.example.org/BanqueService/ConversionDhToEuroRequest" message="tns:ConversionDhToEuro"/>
<output wsam:Action="http://webservice.example.org/BanqueService/ConversionDhToEuroResponse" message="tns:ConversionDhToEuroResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComptesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConversionEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConversionDhToEuro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>